/*
	@package easy-resources-page
*/

/*
	Variables
	------------------------------------------------
*/
$lighter-green: #d1e0c4;
$light-green: #9dc27c;
$bright-green: #7ec747;
$dark-green: #3e4e32;
$blue: #0dc5ea;
$other-blue: #0ba4c3;
$other-blue-lighter: #58bed3;
$orange: #ee9835;
$pink: #ffc0cb;
$beige: #fffeef;
$purple: #9445ce;
$counselling-red: #ee303a;
$red: #ee303a;
$whiteish: #fafafa;

$white: #ffffff;
$dark-white: #eaeaea;
$transparentWhite: rgba(255, 255, 255, 0);
// $black: #332d2d;
$black: #444242;
$darker-black: #2d2929;
$mid-black: #6f6e6e;
$light-black: #5f5a5a;
$lighter-black: #b5b3b3;
$yellow: #f5c426;

$red-alt: #fa7064;
// $blue-alt: #1482a0;
$blue-alt: #0ba4c3;
$darkblue-alt: #27334e;
$yellow-alt: #efb73e;
$greeny-blue-alt: #58b49e;
$green-alt: #9dc27c;
$teal-alt: #10596d;

$border-radius: 0.2rem;

$box-shadow-regular: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

$box-shadow-small: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$box-shadow-more: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
	0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

/* Font Sizes */
$baseFontSize: 1em;
$baseNavSize: 0.64em;
$smallFontSize: 0.8em;
$smallestFontSize: 0.512em;

$heading-biggest: 3.052em;
$heading-big: 2.441em;
$heading-1: 1.953em;
$heading-2: 1.563em;
$heading-3: 1.25em;
$heading-4: $baseFontSize;
$heading-5: $smallFontSize;
$heading-6: 0.64em;
$heading-7: $smallestFontSize;

$input-btn-border-width: 0.2em;
$btn-font-weight: 500;
